.app {
  width: 100%;
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: space-between;
}
.rain {
  background-image: url("../imgs/rain.jpg");
}
.clouds {
  background-image: url("../imgs/clouds.jpg");
}
.sunny {
  background-image: url("../imgs/sun.jpg");
}